*{
    margin: 0;
    padding: 0;
}
/*header start*/
.header{
    height: 80px;
    background-color: #3B5998;
    overflow: hidden;
    font-family: sans-serif;
}
.text_1{
    width: 30%;
    float: left;
    margin-top: 20px;
    margin-left: 130px;
}
.text_1 h1{
     font-size: 45px;
     color: white;
     font-family: inherit;
}
.forms_1{
   width: 45%;
    float: right;
    margin-top: 10px;
    color: white;
    font-size: 13px;
    line-height: 1.70;
}
.form_group{
    float: left;
    margin-left: 15px;
}
.form_group p{
    color: #9CB4D8;
}
.log_in{
    margin-top: 22px;
    width: 10%;
    float: right;
    margin-right: 20%;
}
.log_in input{
    background-color: cornflowerblue;
    border: 1px solid #29487D;
    padding: 2px 10px;
    font-weight: bold;
    color: white;
}
.log_in input:hover{
    background-color: #365899;
}
/*header finished*/
/*content start*/
.content{
    background-color: #EAECF4;
    min-height: 600px;
    overflow: hidden;
}
.left_part{
    width: 30%;
    float: left;
    margin-top: 40px;
    margin-left: 125px;
    font-family: sans-serif;
}
.left_part img{
    margin-top: 20px;
}
.right_part{
    margin-top: 20px;
    line-height: 2;
    width: 45%;
    float: right;
    font-family: sans-serif;
}
.right_part h1{
    margin-left: 12px;
    font-size: 40px;
}
.right_part h3{
    margin-left: 12px;
}
.text-1{
    padding: 8px 10px;
    font-size: 15px;
    margin-top: 20px;
}
.email_1{
    padding: 8px 10px;
    font-size: 15px;
    width: 412px;
    margin-top: 10px;
}
.password{
    padding: 8px 10px;
    font-size: 15px;
    width: 412px;
    margin-top: 10px;
}
.birthday{
    font-size: 20px;
}
.birthday_box{
    padding: 5px 10px;
}
.form_group p{
    color: black;
}
.text{
    color: #365899;
    font-weight: bold;
}
.sign_up{
    background-color: #609C4D;
    padding: 9px 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*content finished*/
/*footer start*/
.footer{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    font-family: sans-serif;
}
.part-1{
    margin-top: 30px;
    color: #365899;
}
.part-2{
    border-top: 1px solid lightgrey;
    margin-top: 10px;
    padding-top: 10px;
    color: #365899;
}
.part-3{
    margin-top: 20px;
    color: #E1E5F0;
}